body{
    background-color: #00091B;
    color: #fff;
}
.main{
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    height: 100vh;
}
.sub{
    text-align: center;
    width: 50%;
}
.dot{
    color:#4FEBFE;
}
.heading{
    font-size: 50px;
    font-family: 'Poppins', sans-serif;
    margin-bottom: 0;
    line-height: 1;
    font-weight: 700;
    padding-bottom: 5%;
}
.para{
    font-family: 'Muli', sans-serif;
    text-align: left;
    padding: 5% 0;
}
.icons {
    text-align: center;
    
  }
  
  .icons i {
    color: #00091B;
    background: #fff;
    height: 15px;
    width: 15px;
    padding: 13px;
    margin: 0 10px;
    border-radius: 50px;
    border: 2px solid #fff;
    transition: all 200ms ease;
    text-decoration: none;
    position: relative;
  }
.icons i:hover, .icons i:active {
    color: #fff;
    background: none;
    cursor: pointer !important;
    transform: scale(1.2);
    -webkit-transform: scale(1.2);
    text-decoration: none;
    
  }
  @media all and (max-width: 767px){
    .main{
        padding: 10%;
        height: auto;
    }
    .sub{
        width:90%;
    }
    .heading{
        font-size: 30px;
    }
    .para{
        font-size: 15px;
    }
  }
